.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img-overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-items: center;
}
.hero__inside {
  height: 200px;
  width: 694px;
  margin: 0 auto;
  display: block;
  padding-top: 200px;
}

.main-headline{
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {

  .main-headline{
    font-size: 30px;
  
   
  }
  .hero__inside{
    width: auto;
  }
  
}