.container {
  //width: 1200px;
  //padding: 0 15px;
  align-items: center;
  margin: 0 auto;
  display: flex;


}

   



.header  {
 display: flex;
 
 }


.footer  {
  display: flex;
}

.our-clients {
  display: flex;
  margin-top: 102px;
  margin-bottom: 86px;
  align-items: center;
  justify-content: center;
}
 .our-team  {
  align-items: center;
}

.strenghts  {
  display: flex;
  margin-top: 30px;
}

.what-do-we-do  {
  align-items: center;
  justify-content: center;
}